name: Trigger Backend Data Reader

on:
  push:
    branches: ["main"]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get changed files in the projects folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v34
        with:
          files: |
            projects/**
          separator: ","

      - name: Print all changed files in the projects folder
        shell: bash
        run: |
          echo  ${{ steps.changed-files-specific.outputs.all_changed_files }}

      - name: Trigger a backend webhook that will read the changed files and update the projects accordingly
        uses: fjogeleit/http-request-action@v1
        id: webhook-api
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          url: https://api-stage.santiment.net/projects_data_reader_webhook/${{ secrets.api_endpoint_secret_path }}
          method: POST
          accept: 200
          data: '{ "changed_files": "${{ steps.changed-files-specific.outputs.all_changed_files }}" }'
          timeout: 60000

      - name: "Use response"
        run: echo ${{ steps.webhook-api.outputs.response }}
