name: Trigger Backend Data Validator

on:
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get changed files in the projects folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v34
        with:
          files: |
            projects/**
          separator: ","

      - name: Print all changed files in the projects folder
        shell: bash
        run: |
          echo  ${{ steps.changed-files-specific.outputs.all_changed_files }}

      - name: Get current branch name (Merge)
        if: github.event_name != 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV

      - name: Get current branch name (Pull Request)
        if: github.event_name == 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | tr / -)" >> $GITHUB_ENV

      - name: Trigger a backend webhook that will read the changed files and validate the changes
        uses: fjogeleit/http-request-action@v1
        id: webhook-api
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          url: https://api.santiment.net/projects_data_validator_webhook
          method: POST
          data: '{ "branch": "${{ env.BRANCH_NAME }}", "changed_files": "${{ steps.changed-files-specific.outputs.all_changed_files }}" }'
          timeout: 60000

      - name: "Use response"
        run: echo ${{ steps.webhook-api.outputs.response }}
